
# Week3-notebook1


### List vs Set

In [ ]:
my_list = [1,2,3]

In [ ]:
my_list.append(4)

In [ ]:
my_list

In [ ]:
my_list.append(4)
my_list

In [ ]:
my_set ={1,2,3}

In [ ]:
my_set.add(4)

In [ ]:
my_set

In [ ]:
my_set.add(4)
my_set

In [ ]:
new_list=[2,2,4,5,3,3,3]

In [ ]:
new_set=set(new_list)
new_set

In [ ]:
new_list[2]

In [ ]:
new_set[2]

### List vs Tuple

In [ ]:
my_list = [1,2,3]

In [ ]:
my_list.append('4')
my_list

In [ ]:
my_tuple = (1,2,3)

In [ ]:
my_tuple.append('4')

In [ ]:
my_tuple.count?

In [ ]:
help(my_tuple.count)

In [ ]:
my_list.insert()

In [ ]:
my_tuple = (1,2,3,2,3,1,1,1)

In [ ]:
my_tuple.count(1)

In [ ]:
my_list1 = [1,2,3,2,3,1,1,1]

In [ ]:
my_list1.count(1)

In [ ]:
my_tuple[2]

### Dictionaries

In [ ]:
d = {'key1':'item1','key2':'item2'}

In [ ]:
d

In [ ]:
d['key1']

### Boolean

In [ ]:
# Value true

True

<p>Notice that the value <code>True</code> has an uppercase "T". The same is true for <code>False</code> (i.e. you must use the uppercase "F").</p>

In [ ]:
# Value false

False

<p>When you ask Python to display the type of a boolean object it will show <code>bool</code> which stands for <i>boolean</i>:</p>

In [ ]:
# Type of True

type(True)

In [ ]:
# Type of False
type(False)

<p>We can cast boolean objects to other data types. If we cast a boolean with a value of <code>True</code> to an integer or float we will get a one. If we cast a boolean with a value of <code>False</code> to an integer or float we will get a zero. Similarly, if we cast a 1 to a Boolean, you get a <code>True</code>. And if we cast a 0 to a Boolean we will get a <code>False</code>. Let's give it a try:</p>

In [ ]:
# Convert True to int

int(True)

In [ ]:
# Convert 1 to boolean

bool(1)

In [ ]:
# Convert 0 to boolean

bool(0)

In [ ]:
# Convert True to float

float(True)

## Exploratory Data Analysis

In [ ]:
import os
os.getcwd()

In [ ]:
# Pandas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd

In [ ]:
df=pd.read_csv('dataset_falcon9.csv')

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df.head(2)

In [ ]:
df.tail(2)

In [ ]:
df[5:8]

In [ ]:
df[87:89]

In [ ]:
df['FlightNumber']

In [ ]:
df['FlightNumber'].head()

In [ ]:
df[['FlightNumber','LaunchSite']].head(10)

In [ ]:
df.drop(2,axis=0)

In [ ]:
df.drop('Outcome', axis=1)

In [ ]:
df['new']=df['FlightNumber']

In [ ]:
df.columns

In [ ]:
df.shape

In [ ]:
df.drop('new', axis=1,inplace=True)

In [ ]:
df.columns

In [ ]:
df.shape

In [ ]:
new_row = {'FlightNumber':1, 'Date':2, 'BoosterVersion':3, 'PayloadMass':4, 'Orbit':5,
       'LaunchSite':6, 'Outcome':7, 'Flights':8, 'GridFins':9, 'Reused':10, 'Legs':11,
       'LandingPad':12, 'Block':13, 'ReusedCount':14, 'Serial':15, 'Longitude':16, 'Latitude':17,
       'Class':18, 'new':19}
#append row to the dataframe
df_marks = df.append(new_row, ignore_index=True)

In [ ]:
df_marks.tail(1)

In [ ]:
df_marks_1=df_marks.style.hide_index()

In [ ]:
type(df_marks_1)

In [ ]:
df_marks.head(3)

In [ ]:
new_row1 = {'FlightNumber':1, 'Date':2, 'BoosterVersion':3, 'PayloadMass':4, 'Orbit':5,
       'LaunchSite':6, 'Outcome':7, 'Flights':8, 'GridFins':9, 'Reused':10, 'Legs':11,
       'LandingPad':12, 'Block':13, 'ReusedCount':14, 'Serial':15, 'Longitude':16, 'Latitude':17,
       'Class':18, 'new':19}
#append row to the dataframe
df_marks = df.append(new_row)

In [ ]:
# Creating the first Dataframe using dictionary
df1 = df = pd.DataFrame({"a":[1, 2, 3, 4],
                         "b":[5, 6, 7, 8]})

In [ ]:
# Creating the Second Dataframe using dictionary
df2 = pd.DataFrame({"a":[1, 2, 3],
                    "b":[5, 6, 7]})

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1.append(df2)

In [ ]:
df1.append(df2, ignore_index=True)

In [ ]:
df_marks.info()

In [ ]:
df_marks[['PayloadMass', 'Date', 'BoosterVersion', 'FlightNumber']]

In [ ]:
df_marks.columns

In [ ]:
df_marks.columns[[2,6,0]]

In [ ]:
df_marks[df_marks.columns[[2,6,0]]]

In [ ]:
df_marks.iloc[:, 1:3]

In [ ]:
df_marks.iloc[0:3, 1:5]

In [ ]:
df_marks.loc[:, 'Outcome':'Legs']

In [ ]:
# Drop Multiple Columns by labels.
df1 = df_marks.drop(['Longitude', 'BoosterVersion','Block'],axis = 1)
df1.info()

In [ ]:
# Drop columns based on column index.
df2 = df_marks.drop(df.columns[[3, 1, 2, 0]],axis = 1)
df2.info()

In [ ]:
# Drop column by index using DataFrame.iloc[] and drop() methods.
df3 = df_marks.drop(df_marks.iloc[:, 1:3],axis = 1)
df3.info()

In [ ]:
# Drop columns by labels using DataFrame.loc[] and drop() methods.
df4 = df_marks.drop(df_marks.loc[:, 'Outcome':'Latitude'].columns,axis = 1)
df4.info()

# Great Job!